__pycache__/resource_path.cpython-311.pyc
LYNXapp_Memory/preferences.pickle
LYNXapp_Memory/setup.pickle
LYNXapp_Memory/theme.pickle
LYNXapp_Memory/KeyTable_Language/KeyTable_English.json
LYNXapp_Memory/layouts/major/LYNX-Engram.pickle
LYNXapp_Memory/layouts/major/test.pickle
LYNXapp_Memory/layouts/minor/EMPTY.pickle
py_files/__pycache__/__init__.cpython-311.pyc
py_files/__pycache__/ascii_language.cpython-311.pyc
py_files/__pycache__/constants.cpython-311.pyc
py_files/__pycache__/custom_widgets.cpython-311.pyc
py_files/__pycache__/events.cpython-311.pyc
py_files/__pycache__/memory.cpython-311.pyc
py_files/__pycache__/preferences.cpython-311.pyc
py_files/__pycache__/screen_keyassignment.cpython-311.pyc
py_files/__pycache__/screen_start.cpython-311.pyc
py_files/__pycache__/setup.cpython-311.pyc
py_files/__pycache__/theme.cpython-311.pyc
py_files/__pycache__/usb_serial_comms.cpython-311.pyc
